<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input Form</title>
</head>
<body>
    <h1>Azure Service Tag IP address checker</h1>
    <form method="POST">
        <label for="user_input">Enter IPv4 or IPv6 address:</label>
        <input type="text" id="user_input" name="user_input">
        <button type="submit">Check</button>
    </form>

    {% if result is not none %}
        <h2>Result: {{ result }}</h2>
    {% endif %}
</body>
</html>